---
import { getTalkBorder } from "~/lib/get-talk-border";
import ResourceLink from "./talk-resource-link.astro";

const { name, title, type, description, recording, slides, date, url } =
  Astro.props;

  const eventDate = new Date(date)
---

<li
  class={`cta-hover-sm p-2 relative rounded-lg bg-gradient-to-tr ${getTalkBorder(
    type
  )}`}
>
  <div class="flex justify-between pr-4 absolute -top-8 w-full">
    <strong
      class="font-mono text-lg font-normal dark:text-slate-400 text-slate-600"
    >
      {name}
    </strong>
    {
      typeof date === "string" && (
        <time
          class="font-mono text-md dark:text-slate-400 text-slate-600"
          date-time={eventDate.toISOString()}
        >
          {date}
        </time>
      )
    }
  </div>
  <div
    class="p-4 dark:bg-black bg-zinc-50 h-[100%] rounded-md grid grid-rows-[auto_1fr_auto]"
  >
    <h2 class="mb-3 text-2xl leading-snug">{title}</h2>
    {
      Boolean(description) && (
        <p class="mt-2 text-md leading-8 dark:text-slate-300 text-slate-800">
          {description}
        </p>
      )
    }
    <div class="flex justify-around mt-10 text-lg text-slate-200 bg-">
      {typeof url === "string" && <ResourceLink url={url}>event</ResourceLink>}
      {
        typeof recording === "string" && (
          <ResourceLink url={recording}>recording</ResourceLink>
        )
      }
      {
        typeof slides === "string" && (
          <ResourceLink url={slides}>slides</ResourceLink>
        )
      }
    </div>
  </div>
</li>
